.recipe-treeconsole.log
  margin-top: 20px
  position: relative

  button
    position: absolute
    top: 0
    right: 0
    background: white
    color: black
    padding: 10px

  .rd3t-link
    stroke: #f8b32d
    stroke-width: 2px

  .node-wrapper
    position: relative

    foreignObject
      position: relative
      z-index: 2

    .node-image
      position: relative

    &:hover .node-info
      display: block

  .node-info
    display: block
    opacity: 0
    transition: .3s ease opacity
    pointer-events: none
    position: absolute
    z-index: 2
    background: #292F36
    color: white
    border: 2px solid #6D7E8A
    font-size: 30px
    padding: 1rem

    .more
      margin-top: 5px
      color: #888
      font-size: 15px
