html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 10px;
}

body {
  font-family: $base-font;

  &.overflow {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $bg-body;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 2rem;
  margin: 0 auto;
}

section {
  position: relative;
  z-index: 2;
}

.main {
  position: relative;
  overflow: hidden;
  min-height: 85vh;
  flex: 1;
}

.decor-img {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba($bg-body, 1), rgba($bg-body, 0));
  }

  &--top {
    @media (min-width: 1200px) {
      top: 0;
      bottom: auto;
    }
  }

  img {
    width: 100%;
    display: block;
  }
}

//scroll
.scroll-wrap::-webkit-scrollbar {
  height: 3px;
  background-color: $bg-body ;
  z-index: 3;
}

.scroll-wrap::-webkit-scrollbar-thumb {
  background-color: #f8b32d;
  border-radius: 2px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// media
// @media (min-width: 768px) {
// }
// @media (min-width: 1024px) {
// }
// @media (min-width: 1200px) {
// }
// @media (min-width: 1360px) {
// }
// @media (min-width: 1440px) {
// }
