@font-face {
    font-family: 'Enchanted Land';
    src: url('../fonts/EnchantedLand.woff2') format('woff2'),
        url('../fonts/EnchantedLand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
